
<!-- READ_UPDATE_table_mercenary.html - Страница с таблицей для READ-UPDATE всех записей наёмников-->

{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='CRUD_table.css') }}">
    <div class="container py-4">

        {# ---- Верхняя панель навигационных кнопок ---- #}
        <div class="d-flex flex-wrap gap-2 mb-4">
            <a class="btn btn-info text-dark" href="{{ url_for('admin') }}">Инструменты администратора</a>
            <a class="btn btn-info text-dark" href="{{ url_for('CRUD_table_member') }}">Работа с записями представителей</a>
            <a class="btn btn-info text-dark" href="{{ url_for('CRUD_table_mercenary') }}">Работа с кабинетами наёмников</a>
            <a class="btn btn-info text-dark" href="{{ url_for('CRUD_table_task') }}">Работа с заданиями</a>
        </div>

        <h1 class="mb-4">Инструмент с CRUD-функционалом записей представителей</h1>

        {# ---- Таблица представителей ---- #}
        <form method="POST" action="{{ url_for('UPDATE_table_mercenary', id=mercenary.id) }}">
            <table class="table table-bordered align-middle text-center w-auto">
                <thead>
                    <tr>
                        <th>Характеристики</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>id наёмника</td>
                        <td>{{ mercenary.id }}</td>
                    </tr>
                    <tr>
                        <td><label for="username">Никнейм наёмника</label></td>
                        <td><input id="username" name="username" type="text" value="{{ mercenary.username }}" placeholder="{{ mercenary.username }}"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Никнейм наёмника</label></td>
                        <td><input id="password" name="password" type="text" value="{{ mercenary.password }}" placeholder="{{ mercenary.password }}"></td>
                    </tr>
                    <tr>
                        <td><label for="telegram_username">Telegram username наёмника</label></td>
                        <td><input id="telegram_username" name="telegram_username" type="text" value="{{ mercenary.mercenary.telegram_username }}" placeholder="{{ mercenary.mercenary.telegram_username }}"></td>
                    </tr>
                    <tr>
                        <td>Код сертификата наёмника</td>
                        <td>{{ mercenary.mercenary.certificate_code }}</td>
                    </tr>
                    <tr>
                        <td><label for="rating_mercenary">Рейтинг наёмника</label></td>
                        <td><input id="rating_mercenary" name="rating_mercenary" type="text" value="{{ mercenary.mercenary.rating_mercenary }}" placeholder="{{ mercenary.mercenary.rating_mercenary }}"></td>
                    </tr>
                    <tr>
                        <td><label for="status_mercenary">Статус наёмника</label></td>
                        <td><input id="status_mercenary" name="status_mercenary" type="text" value="{{ mercenary.mercenary.status_mercenary}}" placeholder="{{ mercenary.mercenary.status_mercenary}}"></td>
                    </tr>
                    <tr>
                        <td>Дата регистрации наёмника</td>
                        <td>{{ mercenary.registration_date }}</td>
                    </tr>
                    <tr>
                        <td><label for="favourite_fraction">Любимая организация</label></td>
                        <td><input id="favourite_fraction" name="favourite_fraction" type="text" value="{{ mercenary.mercenary.favourite_fraction }}" placeholder="{{ mercenary.mercenary.favourite_fraction }}"></td>
                    </tr>
                    <tr>
                        <td><label for="price_mercenary">Цена наёмника на миссию</label></td>
                        <td><input id="price_mercenary" name="price_mercenary" type="text" value="{{ mercenary.mercenary.price_mercenary }}" placeholder="{{ mercenary.mercenary.price_mercenary }}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <button type="submit" class="btn btn-info text-dark">Подтвердить изменения</button>
            </div>
        </form>
    </div>

{% endblock %}