
<!-- base.html - Шаблон, на котором создаются все страницы сайта -->
<!-- В основном содержит размещение в центре и заголовок сайта-->



 <!-- CRUD_table_member.html - Страница с таблицей с CRUD-функциями всех записей представителей -->
 <!-- CRUD_table_mercenary.html - Страница с таблицей с CRUD-функциями всех записей наёмников -->
 <!-- CRUD_table_task.html - Страница с таблицей с CRUD-функциями всех заданий -->
 <!-- READ_UPDATE_table_member.html - Страница с таблицей для READ-UPDATE всех записей представителей -->
 <!-- READ_UPDATE_table_mercenary.html - Страница с таблицей для READ-UPDATE всех записей наёмников -->
 <!-- READ_UPDATE_table_task.html - Страница с таблицей для READ-UPDATE всех заданий -->
 <!-- base_CRUD_table.html - шаблон, на котором строятся все CRUD-таблицы -->
 <!-- base_READ_UPDATE_table.html - шаблон, на котором строятся все READ-UPDATE таблицы -->
 <!-- authentication.html - Страница авторизации в систему -->
 <!-- create_member.html - Страница создания записи представителя -->
 <!-- create_mercenary.html - Страница создания личного кабинета наёмника -->
 <!-- main_page.html - Главная страница сайта, на которую все заходят при входе на сайт -->
 <!-- rating.html - Страница, на которой отображены все наёмники и их рейтинг -->
 <!-- create_record.html - Страница создания отчёта для задания -->
 <!-- create_task.html - Страница создания задания -->
 <!-- admin.html - Страница инструментов администратора -->
 <!-- member.html - Страница инструментов представителя -->
 <!-- mercenary.html - Страница с личным кабинетом наёмника -->


<!--
Шаблон, на основе которого построены все страницы
-->
<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <title>
        {% if title %}
          {{ title }}
        {% else %}
          Лабораторная работа №4
        {% endif %}
    </title>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="{{ url_for('main_page') }}">www.pune.com</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  {% if current_user.role == "admin" %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Инструменты для работы</a>
                      <ul class="dropdown-menu menu-violet">
                        <li><a class="dropdown-item" href="{{ url_for('CRUD_table_task') }}">Работа с заданиями</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('CRUD_table_mercenary') }}">Работа с кабинетами наёмников</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('CRUD_table_member') }}">Работа с записями представителей</a></li>
                      </ul>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main_page') }}">Каталог заданий</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('rating') }}">Рейтинг наёмников</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Личный кабинет</a>
                    <ul class="dropdown-menu dropdown-menu-end menu-violet">
                      {% if current_user.role == "mercenary" %}
                        <li><a class="dropdown-item" href="{{ url_for('mercenary') }}">Личный кабинет</a></li>
                      {% endif %}
                      {% if current_user.role == "member" %}
                        <li><a class="dropdown-item" href="{{ url_for('member') }}">Инструменты представителя</a></li>
                      {% endif %}
                      {% if current_user.role == "admin" %}
                        <li><a class="dropdown-item" href="{{ url_for('admin') }}">Инструменты администратора</a></li>
                      {% endif %}
                      <li><a class="dropdown-item" href="{{ url_for('authentication') }}">Авторизация</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('create_mercenary') }}">Создание записи наёмника</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('create_member') }}">Создание записи представителя</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <main>
      <div class="container">   
        <div class="row">
          {% block sidebar %}
            <div class="col-2 mx-auto d-flex">

            </div>
          {% endblock %}
          <div class="col-8 mx-auto d-flex justify-content-center align-items-center">
            <div class="main-container">
              {% for cat, msg in get_flashed_messages(True) %}
                <div class="alert alert-{{cat}}">
                  {{msg}}
                </div>
              {% endfor %}

              {% block content %}

              {% endblock %}
            </div>
          </div>
          <div class="col-2">
            <div class="mini-box">
              <p class="mini-box-text">Роль пользователя: {{ user_role }}</p>
            </div>
            {% if user_role == "admin" or user_role == "member" or user_role == "mercenary" %}
              <form method="POST" action="{{ url_for('goout') }}">
                <button type="submit" class="btn mini-box-btn">Выйти из системы</button>
              </form>
            {% endif %}
          </div>
        </div>
        <div class="container">
          <h1>Начало истории</h1>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer_div">
        <p>Патокин Павел Евгеньевич, группа 241-327</p>
      </div>
    </footer>
  </body>
</html>