
<!-- admin.html - Страница инструментов администратора -->

{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">

    <h1 class="page-title">Инструменты администратора</h1>

    <section class="admin-card">
        <h2 class="admin-card__title">Личные данные администратора:</h2>
        <p>id администратора: {{ current_user.id }}</p>
        <p>Никнейм администратора: {{ current_user.username }}</p>
        <p>Пароль администратора: {{ current_user.password }}</p>
        <p>Дата регистрации: {{ current_user.registration_date }}</p>
    </section>

    <section class="tools-panel">
        <h2 class="section-header">Инструменты:</h2>
        <a class="tool-btn" href="{{ url_for('CRUD_table_mercenary') }}">Работа со всеми личными кабинетами наёмников</a>
        <a class="tool-btn" href="{{ url_for('CRUD_table_member') }}">Работа со всеми учётными записями представителей</a>
        <a class="tool-btn" href="{{ url_for('CRUD_table_task') }}">Работа со всеми заданиями</a>

        <h2 class="section-header">Навигация сайта:</h2>
        <a class="tool-btn" href="{{ url_for('main_page') }}">Главная страница/Каталог заданий</a>
        <a class="tool-btn" href="{{ url_for('rating') }}">Рейтинг наёмников</a>
    </section>
{% endblock %}

# <!-- CRUD_table_member.html - Страница с таблицей с CRUD-функциями всех записей представителей -->
# <!-- CRUD_table_mercenary.html - Страница с таблицей с CRUD-функциями всех записей наёмников -->
# <!-- CRUD_table_task.html - Страница с таблицей с CRUD-функциями всех заданий -->
# <!-- READ_UPDATE_table_member.html - Страница с таблицей для READ-UPDATE всех записей представителей -->
# <!-- READ_UPDATE_table_mercenary.html - Страница с таблицей для READ-UPDATE всех записей наёмников -->
# <!-- READ_UPDATE_table_task.html - Страница с таблицей для READ-UPDATE всех заданий -->