

/* base.css - основной файл-основа с стилями для всех страниц сайта */

:root {
  --header-bg:   #3b39db;  /* фон шапки */
  --link-color:  #000000;  /* цвет ссылок в шапке */
  --link-hover:  #000000;  /* цвет ссылок при наведении */
  --link-hover-zone: #262ed3;
  --menu-bg:     #7d63e0;  /* фон выпадающего меню #7d63e0;  */
  --menu-item:   #000000;  /* текст пунктов меню #6E3D9C;*/
  --menu-hover:  #6a4fc9;  /* подсветка пункта при наведении #6a4fc9*/
  --main-bg-color: #5743EF; /* Основной фоновый цвет страницы */
  --page-border:    #642c7b;  /* Границы объектов */
  --auth-btn:       #055596;  /* бирюзовые кнопки */
  --auth-btn-hover: #184072;  /* выделенные бирюзовые кнопки */
  --footer-bg: #4f60f4; /* Цвет фона в подвале*/
}

.navbar {
  background-color: var(--header-bg);
  padding-bottom: 5px;
  padding-top: 5px;
}

/* Название сайта (www.pune.com) */
.navbar-brand {
  color: var(--link-color);
  font-weight: 600;
}

/* Пункты навигации */
.navbar .nav-link {
  color: var(--link-color);
}
.navbar .nav-link:hover {
  color: var(--link-hover);
  background-color: var(--link-hover-zone);
}

/* Выпадающее меню (класс menu-violet) */
.dropdown-menu.menu-violet {
  background-color: var(--menu-bg);
  border:1px #642C7B;
}
.menu-violet .dropdown-item {
  color: var(--menu-item);
}

.menu-violet .dropdown-item:hover {
  background-color: var(--menu-hover);
  color: #000;
}

.main-container{
    background-color: #5743EF;
    padding: 30px 40px;
    width: 100%;
    min-height: 94vh; 
    text-align: center;
    

}

/* Блок с отображением роли пользователя*/
.user_role{
  display: flex;
  align-self: flex-start;   /* не растягиваться по высоте флекс-родителя */
  width: fit-content;       /* ширина строго по содержимому */
  height: fit-content;      /* высота строго по содержимому */

  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  background-color: var(--main-bg-color);
  height: auto;
  border: var(--page-border);
}

/* Бирюзовые кнопки создания записи */
.auth-btn-secondary {
  background-color: var(--auth-btn);
  color: #000;
  font-weight: 600;
  padding: 12px;
  border: none;
}

.mini-box {
  margin-top: 20px;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #5743EF;
  color: #000000;
  text-align: center;
}

.mini-box-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

.mini-box-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px 14px;
  border-radius: 12px;
  background-color: var(--auth-btn);
  color: #000000;
  font-weight: 600;
}

.mini-box-btn:hover {
  background-color: var(--auth-btn-hover);
  color: #000000;
}

/* Стили подвала на сайте*/
.footer_div {
  background-color: var(--footer-bg);
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
}